### Intel ODE library must be obtained from Intel
lib/intel/libiode_intel64.lib
lib/intel/libiode_intel64.a
libiode_intel64.*
lib/intel/libiode_ia32.lib
lib/intel/libiode_ia32.a
## odepack must be obtained from LLNL
lib/odepack/libodepack.a
lib/odepack/libodepack.lib
#libraries/odepack/opkd-sum
#libraries/odepack/opkda1.f
#libraries/odepack/opkda2.f
#libraries/odepack/opkdmain.f
#libraries/odepack/opkddemos

##temporary files
*~

## binary for daskr
libraries/daskr/libddaskr.a

## autoconf tool
autom4te.cache/

## exclude source and temp files for documentation
*.tex
*.aux
*.toc
documentation/*.log
*.idx
*.synctex.gz
*.synctex
### Build Folders...
Release/
Debug/
Release-Intel/
Benchmark/
### Interesting directories for those who build their own
Release-Makefile-Linux/*.o
Release-Makefile-Linux/*.exe
Release-Makefile-MinGW/*.o
Release-Makefile-MinGW/*.exe
### Eclipse files & settings & temp files
.settings/
.cproject
#.project
*.o
*.d
*.exe
Release-Makefile-MinGW/CKS branches.exe

## test files
chem.inp
debug
initial.inp

/Release-Win/
