### Intel ODE library must be obtained from Intel
libraries/intel/libiode_intel64.lib
libraries/intel/libiode_intel64.a
libraries/intel/libiode_ia32.lib
libraries/intel/libiode_ia32.a
## odepack must be obtained from LLNL
libraries/odepack/libodepack.a
#libraries/odepack/opkd-sum
#libraries/odepack/opkda1.f
#libraries/odepack/opkda2.f
#libraries/odepack/opkdmain.f
#libraries/odepack/opkddemos
## exclude source and temp files for documentation
*.tex
*.aux
*.toc
documentation/*.log
*.idx
*.synctex.gz
*.synctex
### Build Folders...
Release/
Debug/
Release-Intel/
Benchmark/
### Interesting directories for those who build their own
Release-Makefile-Linux/*.o
Release-Makefile-Linux/*.exe
Release-Makefile-MinGW/*.o
Release-Makefile-MinGW/*.exe
### Eclipse files & settings & temp files
.settings/
.cproject
#.project
*.o
*.d
*.exe
Release-Makefile-MinGW/CKS branches.exe

